@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body{
    font-family: 'Kanit', sans-serif;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#titre{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin: 10vh;
    
}

ul{
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    
}

.albums{
    
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 255, .2);
    border: 5px solid white;
}

.ens-albm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.albums:hover{
    opacity: 50%;
    width: 350px;
    height: 350px;
    transition: 0.5s;
}
#nek{
    display: none;
    transition-duration: 1s;
    text-align:center;
}

#nek:target{
    display: block;
    transition-duration: 1s;
    text-align: center;
}

#dam{
    display: none;
    text-align: center;
}

#dam:target{
    display: block;
    text-align: center;
}

#pnl{
    display: none;
    text-align: center;
}

#pnl:target{
    display: block;
    text-align: center;
}

.active{
    border-radius: 100px;
	opacity: 1;
	color:#ffffff ;
	padding: 10px;
	background-color: #8c5ae9;
}

.albm-text{
    margin-top: 5vh;
    text-align: center;
}


.oui{
    font-size: 20px;
    color:blue ;
    transition: 0.5s;
    width: 10vw;
}
.oui:hover{
    font-size: 40px;
    transition: 0.5s;
    background-color: #8c5ae9;
    border-radius: 50px;
    text-align: center;
    color: #8c5ae9;
}